In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn.compose import ColumnTransformer

C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data=pd.read_csv("loan_data.csv")

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [4]:
data.sample(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
97,LP001560,Male,Yes,0,Not Graduate,No,1863,1041.0,98.0,360.0,1.0,Semiurban,Y
277,LP002387,Male,Yes,0,Graduate,No,2425,2340.0,143.0,360.0,1.0,Semiurban,Y
152,LP001813,Male,No,0,Graduate,Yes,6050,4333.0,120.0,180.0,1.0,Urban,N
250,LP002277,Female,No,0,Graduate,No,3180,0.0,71.0,360.0,0.0,Urban,N
10,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
197,LP002004,Male,No,0,Not Graduate,No,2927,2405.0,111.0,360.0,1.0,Semiurban,Y
232,LP002205,Male,No,1,Graduate,No,3062,1987.0,111.0,180.0,0.0,Urban,N
264,LP002345,Male,Yes,0,Graduate,No,1025,2773.0,112.0,360.0,1.0,Rural,Y
262,LP002332,Male,Yes,0,Not Graduate,No,2253,2033.0,110.0,360.0,1.0,Rural,Y
206,LP002055,Female,No,0,Graduate,No,3166,2985.0,132.0,360.0,NaN,Rural,Y

In [5]:
data.drop(["Loan_ID"],axis=1,inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             376 non-null    object
 1   Married            381 non-null    object
 2   Dependents         373 non-null    object
 3   Education          381 non-null    object
 4   Self_Employed      360 non-null    object
 5   ApplicantIncome    381 non-null    int64
 6   CoapplicantIncome  381 non-null    float64
 7   LoanAmount         381 non-null    float64
 8   Loan_Amount_Term   370 non-null    float64
 9   Credit_History     351 non-null    float64
 10  Property_Area      381 non-null    object
 11  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 35.8+ KB

In [7]:
data.shape

(381, 12)

In [8]:
data.isnull().sum()

Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
data.isnull().mean()*100

Gender               1.312336
Married              0.000000
Dependents           2.099738
Education            0.000000
Self_Employed        5.511811
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     2.887139
Credit_History       7.874016
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [10]:
data['Dependents']=data['Dependents'].replace(["0","1","2","3+"],[0,1,2,3])
data['Dependents']=data['Dependents'].fillna(data['Dependents'].mode().iloc[0])
data['Gender'][data["Gender"].isnull()]=data['Gender'].dropna().sample(data["Gender"].isnull().sum())
data['Self_Employed']=data['Self_Employed'].fillna(data['Self_Employed'].mode().iloc[0])
data['Credit_History']=data['Credit_History'].fillna(data['Credit_History'].mode().iloc[0])
data['Loan_Amount_Term']=data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode().iloc[0])

C:\Users\raghav.aggarwal\AppData\Local\Temp\ipykernel_3676\3700366852.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Dependents']=data['Dependents'].replace(["0","1","2","3+"],[0,1,2,3])
C:\Users\raghav.aggarwal\AppData\Local\Temp\ipykernel_3676\3700366852.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['Gender'][data["Gender"].isnull()]=data['Gender'].dropna().sample(data["Gender"].isnull().sum())
C:\Users\raghav.aggarwal\AppData\Local\Temp\ipykernel_3676\3700366852.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender'][data["Gender"].isnull()]=data['Gender'].dropna().sample(data["Gender"].isnull().sum())

In [11]:
data.isnull().sum()

Gender               5
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
lab= LabelEncoder()
data['Loan_Status'] = lab.fit_transform(data['Loan_Status'])
data['Gender'] = lab.fit_transform(data['Gender'])
data['Married'] = lab.fit_transform(data['Married'])
data['Self_Employed'] = lab.fit_transform(data['Self_Employed'])
data['Education'] = lab.fit_transform(data['Education'])

In [13]:
data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,Rural,0
1,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,Urban,1
2,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,Urban,1
3,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,Urban,1
4,1,1,0.0,1,0,2333,1516.0,95.0,360.0,1.0,Urban,1
...,...,...,...,...,...,...,...,...,...,...,...,...
376,1,1,3.0,0,0,5703,0.0,128.0,360.0,1.0,Urban,1
377,1,1,0.0,0,0,3232,1950.0,108.0,360.0,1.0,Rural,1
378,0,0,0.0,0,0,2900,0.0,71.0,360.0,1.0,Rural,1
379,1,1,3.0,0,0,4106,0.0,40.0,180.0,1.0,Rural,1
380,0,0,0.0,0,1,4583,0.0,133.0,360.0,0.0,Semiurban,0

In [14]:
data["Property_Area"].nunique()

data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,Rural,0
1,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,Urban,1
2,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,Urban,1
3,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,Urban,1
4,1,1,0.0,1,0,2333,1516.0,95.0,360.0,1.0,Urban,1
...,...,...,...,...,...,...,...,...,...,...,...,...
376,1,1,3.0,0,0,5703,0.0,128.0,360.0,1.0,Urban,1
377,1,1,0.0,0,0,3232,1950.0,108.0,360.0,1.0,Rural,1
378,0,0,0.0,0,0,2900,0.0,71.0,360.0,1.0,Rural,1
379,1,1,3.0,0,0,4106,0.0,40.0,180.0,1.0,Rural,1
380,0,0,0.0,0,1,4583,0.0,133.0,360.0,0.0,Semiurban,0

In [15]:
data['Property_Area']=data['Property_Area'].replace(["Rural","Semiurban","Urban"],[0,1,2])

C:\Users\raghav.aggarwal\AppData\Local\Temp\ipykernel_3676\644791073.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Property_Area']=data['Property_Area'].replace(["Rural","Semiurban","Urban"],[0,1,2])

In [16]:
data.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [17]:
x= data.drop(['Loan_Status'],axis=1).values
y= data['Loan_Status'].values

In [18]:


Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1
threshold = 1.5
lower_bound = Q1 - threshold * IQR
upper_bound = Q3 + threshold * IQR
outliers = data[((data < lower_bound) | (data > upper_bound)).any(axis=1)]
outliers

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,1
8,1,1,2.0,0,0,1299,1086.0,17.0,120.0,1.0,2,1
10,1,0,1.0,1,0,3596,0.0,100.0,240.0,1.0,2,1
11,0,0,0.0,0,0,3510,0.0,76.0,360.0,0.0,2,0
14,1,1,0.0,1,0,7660,0.0,104.0,360.0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
375,1,0,0.0,0,0,2987,0.0,88.0,360.0,0.0,1,0
376,1,1,3.0,0,0,5703,0.0,128.0,360.0,1.0,2,1
378,0,0,0.0,0,0,2900,0.0,71.0,360.0,1.0,0,1
379,1,1,3.0,0,0,4106,0.0,40.0,180.0,1.0,0,1
380,0,0,0.0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [19]:
data.shape

(381, 12)

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [21]:
x_test

array([[0.00000000e+00, 0.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.75000000e+03, 2.08300000e+03, 1.20000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 2.58300000e+03, 2.35800000e+03, 1.20000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 2.87500000e+03, 1.75000000e+03, 1.05000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 7.20000000e+03, 0.00000000e+00, 1.20000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 7.74000000e+03, 0.00000000e+00, 1.28000000e+02,
        1.80000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 6.25000000e+03, 1.30000000e+03, 1.08000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 3.45900000e+03, 0.00000000e+00, 2.50000000e+01,
        1.20000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.82800000e+03, 1.33000000e+03, 1.00000000e+02,
        3.60000000e+02, 0.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.40600000e+03, 4.41700000e+03, 1.23000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.70400000e+03, 2.00000000e+03, 1.20000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.69100000e+03, 0.00000000e+00, 1.10000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.66700000e+03, 1.45900000e+03, 1.44000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.41000000e+03, 0.00000000e+00, 8.80000000e+01,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.66600000e+03, 4.30000000e+03, 1.21000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.24600000e+03, 1.41700000e+03, 1.38000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.62500000e+03, 2.85700000e+03, 1.11000000e+02,
        1.20000000e+01, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.85300000e+03, 2.84000000e+03, 1.14000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.81400000e+03, 1.48300000e+03, 1.24000000e+02,
        3.00000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.49100000e+03, 2.05400000e+03, 1.04000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 3.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 4.70700000e+03, 1.99300000e+03, 1.48000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 4.75500000e+03, 0.00000000e+00, 9.50000000e+01,
        3.60000000e+02, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.80000000e+03, 1.21300000e+03, 4.70000000e+01,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.75900000e+03, 3.54100000e+03, 1.31000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.88000000e+03, 0.00000000e+00, 6.10000000e+01,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 4.10000000e+03, 0.00000000e+00, 1.24000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 5.70300000e+03, 0.00000000e+00, 1.30000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.21400000e+03, 1.39800000e+03, 8.50000000e+01,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.30100000e+03, 0.00000000e+00, 1.18000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 4.93100000e+03, 0.00000000e+00, 1.28000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.06200000e+03, 1.98700000e+03, 1.11000000e+02,
        1.80000000e+02, 0.00000000e+00, 2.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.81200000e+03, 0.00000000e+00, 1.12000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.56600000e+03, 0.00000000e+00, 1.00000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.34000000e+03, 1.71000000e+03, 1.50000000e+02,
        3.60000000e+02, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.40000000e+03, 0.00000000e+00, 9.50000000e+01,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.12400000e+03, 0.00000000e+00, 1.15000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.76200000e+03, 1.66600000e+03, 1.35000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.15800000e+03, 3.05300000e+03, 8.90000000e+01,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 4.28800000e+03, 3.26300000e+03, 1.33000000e+02,
        1.80000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 4.18800000e+03, 0.00000000e+00, 1.15000000e+02,
        1.80000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.16600000e+03, 2.06400000e+03, 1.04000000e+02,
        3.60000000e+02, 0.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 7.25000000e+03, 1.66700000e+03, 1.10000000e+02,
        3.60000000e+02, 0.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.03300000e+03, 1.45900000e+03, 9.50000000e+01,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 2.65300000e+03, 1.50000000e+03, 1.13000000e+02,
        1.80000000e+02, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.71600000e+03, 0.00000000e+00, 4.20000000e+01,
        1.80000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 2.16700000e+03, 2.40000000e+03, 1.15000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.00000000e+03, 3.41600000e+03, 5.60000000e+01,
        1.80000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.58300000e+03, 0.00000000e+00, 1.12000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 2.60000000e+03, 1.71700000e+03, 9.90000000e+01,
        3.00000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.94100000e+03, 2.33600000e+03, 1.34000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.01300000e+03, 3.03300000e+03, 9.50000000e+01,
        3.00000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.40000000e+03, 2.50000000e+03, 1.23000000e+02,
        3.60000000e+02, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.43000000e+03, 1.25000000e+03, 1.28000000e+02,
        3.60000000e+02, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.62000000e+03, 2.22300000e+03, 1.50000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.59300000e+03, 4.26600000e+03, 1.32000000e+02,
        1.80000000e+02, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.78200000e+03, 2.23200000e+03, 1.07000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.10600000e+03, 0.00000000e+00, 4.00000000e+01,
        1.80000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.17300000e+03, 0.00000000e+00, 7.40000000e+01,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.79900000e+03, 2.25300000e+03, 1.22000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.87500000e+03, 0.00000000e+00, 6.70000000e+01,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.97700000e+03, 9.97000000e+02, 5.00000000e+01,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.85000000e+03, 9.83000000e+02, 1.00000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.01400000e+03, 2.92500000e+03, 1.13000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 2.25300000e+03, 2.03300000e+03, 1.10000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 1.00000000e+03, 3.02200000e+03, 1.10000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.72300000e+03, 0.00000000e+00, 8.10000000e+01,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.75000000e+03, 0.00000000e+00, 1.00000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.70800000e+03, 1.16700000e+03, 9.70000000e+01,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.80000000e+03, 2.93400000e+03, 9.30000000e+01,
        3.60000000e+02, 0.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.75000000e+03, 0.00000000e+00, 1.16000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.30100000e+03, 9.85799988e+02, 7.80000000e+01,
        1.80000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 2.28100000e+03, 0.00000000e+00, 1.13000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.62000000e+03, 0.00000000e+00, 2.50000000e+01,
        1.20000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.60800000e+03, 2.84500000e+03, 1.40000000e+02,
        1.80000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.50000000e+03, 0.00000000e+00, 6.70000000e+01,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.62500000e+03, 1.80300000e+03, 9.60000000e+01,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.92700000e+03, 8.00000000e+02, 1.12000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 6.00000000e+03, 0.00000000e+00, 1.41000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00]])

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [41]:
pd.DataFrame(x_train).describe().T

,count,mean,std,min,25%,50%,75%,max
0,304.0,-1.051790e-16,1.001649,-1.738199,0.482022,0.482022,0.482022,2.702242
1,304.0,1.606902e-17,1.001649,-1.126347,-1.126347,0.887826,0.887826,0.887826
2,304.0,7.742345e-17,1.001649,-0.660963,-0.660963,-0.660963,0.380139,2.462343
3,304.0,-1.051790e-16,1.001649,-0.607758,-0.607758,-0.607758,1.645393,1.645393
4,304.0,-2.483394e-17,1.001649,-0.330891,-0.330891,-0.330891,-0.330891,3.022141
5,304.0,-1.752984e-17,1.001649,-2.389858,-0.696990,-0.198802,0.507035,4.222416
6,304.0,2.337312e-17,1.001649,-0.492887,-0.492887,-0.298085,0.263472,12.836759
7,304.0,-1.110223e-16,1.001649,-3.373449,-0.595001,0.178743,0.811807,1.585552
8,304.0,5.697197e-17,1.001649,-4.920545,0.213284,0.213284,0.213284,2.114702
9,304.0,-1.343954e-16,1.001649,-2.368268,0.422249,0.422249,0.422249,0.422249
10,304.0,1.168656e-16,1.001649,-1.365437,-1.365437,-0.076329,1.212779,1.212779

In [36]:
data.describe()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000
mean,0.790026,0.598425,0.666667,0.270341,0.091864,3579.845144,1277.275381,104.986877,341.417323,0.850394,1.052493,0.711286
std,0.438904,0.490861,0.987643,0.444720,0.289213,1419.813818,2340.818114,28.358464,67.625957,0.357154,0.779592,0.453761
min,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,12.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,2600.000000,0.000000,90.000000,360.000000,1.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,3333.000000,983.000000,110.000000,360.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,0.000000,4288.000000,2016.000000,127.000000,360.000000,1.000000,2.000000,1.000000
max,2.000000,1.000000,3.000000,1.000000,1.000000,9703.000000,33837.000000,150.000000,480.000000,1.000000,2.000000,1.000000

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [38]:
c=DecisionTreeClassifier(min_samples_split=)
c.fit(x_train,y_train)
y_pred=c.predict(x_test)
accuracy_score(y_test,y_pred)

0.6493506493506493

In [26]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 2)
classifier.fit(x_train, y_train)
# x_train.isnull()

LogisticRegression(random_state=2)

In [27]:
y_pre=classifier.predict(x_test)
accuracy_score(y_test,y_pre)

0.8441558441558441

In [28]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()
forest.fit(x_train, y_train)

RandomForestClassifier()

In [29]:
y_pr=forest.predict(x_test)
accuracy_score(y_test,y_pr)

0.8181818181818182

In [30]:
from sklearn.neighbors import KNeighborsClassifier
clas = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
clas.fit(x_train, y_train)
y_p = clas.predict(x_test)
accuracy_score(y_test, y_p)

0.8441558441558441

In [31]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_ = gnb.predict(x_test)
accuracy_score(y_test, y_)

0.8181818181818182

In [32]:
from sklearn.svm import SVC
sv = SVC(kernel = 'linear', random_state = 0)
sv.fit(x_train,y_train)

SVC(kernel='linear', random_state=0)

In [33]:
y_pc=sv.predict(x_test)
accuracy_score(y_test, y_pc)

0.8441558441558441

In [34]:
from sklearn.model_selection import GridSearchCV
rf_classifier = RandomForestClassifier()
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, n_jobs=-1)
grid_search.fit(x_train, y_train)
print("Best Parameters:", grid_search.best_params_)
best_model = grid_search.best_estimator_
accuracy = best_model.score(x_test, y_test)
print("Test Accuracy:", accuracy)

C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
405 fits failed out of a total of 1215.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
405 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.83224044 0.83551913 0.82229508
 0.8289071  0.83885246 0.83224044 0.83557377 0.83557377 0.83885246
 0.84213115 0.83879781 0.84213115 0.83546448 0.83885246 0.84213115
 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115
 0.83879781 0.84213115 0.84213115 0.83551913 0.84213115 0.84213115
 0.82557377 0.8157377  0.82551913 0.82896175 0.82896175 0.83218579
 0.83557377 0.83557377 0.83885246 0.83879781 0.83879781 0.84213115
 0.83213115 0.83551913 0.83879781 0.83879781 0.84213115 0.84213115
 0.84213115 0.84213115 0.84213115 0.84213115 0.83879781 0.84213115
 0.84213115 0.84213115 0.84213115        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.83551913 0.83557377 0.83229508 0.83885246 0.83885246 0.83885246
 0.83557377 0.83885246 0.83885246 0.83218579 0.84213115 0.83879781
 0.84213115 0.84213115 0.83879781 0.84213115 0.84213115 0.84213115
 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115
 0.84213115 0.84213115 0.84213115 0.82557377 0.82562842 0.82901639
 0.8289071  0.83885246 0.83885246 0.83557377 0.83557377 0.83885246
 0.83551913 0.84213115 0.83879781 0.83885246 0.83879781 0.83879781
 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115
 0.83879781 0.83879781 0.84213115 0.84213115 0.83879781 0.84213115
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.81568306 0.82229508 0.8420765
 0.83218579 0.83224044 0.83218579 0.83557377 0.83885246 0.83229508
 0.83218579 0.83546448 0.83546448 0.83218579 0.83879781 0.83879781
 0.84213115 0.84213115 0.84213115 0.84213115 0.83885246 0.83879781
 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115
 0.82557377 0.83546448 0.82229508 0.83879781 0.84213115 0.83229508
 0.83885246 0.83885246 0.83885246 0.83224044 0.83551913 0.83546448
 0.83551913 0.83885246 0.83879781 0.83885246 0.84213115 0.84213115
 0.84213115 0.84213115 0.84213115 0.84213115 0.84213115 0.83879781
 0.84213115 0.84213115 0.84213115]
  warnings.warn(

Best Parameters: {'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 100}
Test Accuracy: 0.8441558441558441

In [35]:
## This is the cross validation score
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = sv, X = x_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 84.55 %
Standard Deviation: 4.38 %