In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import seaborn as sns

C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

^C

Note: you may need to restart the kernel to use updated packages.

In [4]:
data=pd.read_csv("train.csv")[['Age','Pclass','SibSp','Parch','Survived']]

In [5]:
data.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [6]:
data.dropna(inplace=True)

In [7]:
data.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [8]:
x=data.iloc[:,:4]
y=data.iloc[:,4]

In [9]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring="accuracy",cv=20))

0.6933333333333332

In [12]:
x["Family_Size"]=x["Parch"]+x["SibSp"]+1

In [13]:
x

      Age  Pclass  SibSp  Parch  Family_Size
0    22.0       3      1      0            2
1    38.0       1      1      0            2
2    26.0       3      0      0            1
3    35.0       1      1      0            2
4    35.0       3      0      0            1
..    ...     ...    ...    ...          ...
885  39.0       3      0      5            6
886  27.0       2      0      0            1
887  19.0       1      0      0            1
889  26.0       1      0      0            1
890  32.0       3      0      0            1

[714 rows x 5 columns]

In [15]:
def myfunc(num):
    if num==1:
        return 0
    elif num>1 and num<=4:
        return 1
    else:
        return 2

myfunc(4)

In [16]:
myfunc(4)

1

In [18]:
x["Family_Type"]=x["Family_Size"].apply(myfunc)

In [19]:
x.drop(columns=['SibSp','Parch','Family_Size'],inplace=True)

In [20]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring="accuracy",cv=20))

0.7003174603174602